<h2>Créer une salle</h2>

<form [formGroup]="salleForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Nom de la salle</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Surface (m²)</mat-label>
    <input matInput type="number" formControlName="area">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre total de places</mat-label>
    <input matInput type="number" formControlName="total_seats">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre de places assises</mat-label>
    <input matInput type="number" formControlName="seated_places">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description des équipements</mat-label>
    <input matInput formControlName="equipment_description">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Prix par jour (CHF)</mat-label>
    <input matInput type="number" formControlName="price_per_day">
  </mat-form-field>

  <h3>Options supplémentaires</h3>
  <div *ngFor="let eq of equipementsDispo">
    <mat-checkbox [value]="eq.uid" (change)="onEquipmentChange(eq.uid, $event.checked)">
      {{ eq.name }} ({{ eq.extra_price }} CHF)
    </mat-checkbox>
  </div>

  <div class="button">
    <button class="moreTransactions" type="submit" [disabled]="salleForm.invalid">
      Ajouter la salle
    </button>
  </div>
  
  <div class="button">
    <button  class="moreTransactions" (click)="quitComposite()">
      Annuler
    </button>
  </div>

  <div class="error-message" *ngIf="salleForm.hasError('capaciteInvalide')">  
    La capacité totale doit être supérieure ou égale à la capacité avec tables
  </div>

  <mat-error *ngIf="salleForm.get('area')?.hasError('pattern')">
    La surface doit être un nombre entier positif (ex: 45)
  </mat-error>
  
  <mat-error *ngIf="salleForm.get('total_seats')?.hasError('pattern')">
    Le nombre total de places doit être un entier positif (ex: 30)
  </mat-error>
  
  <mat-error *ngIf="salleForm.get('seated_places')?.hasError('pattern')">
    Le nombre de places assises doit être un entier positif ou zéro
  </mat-error>
  
  <mat-error *ngIf="salleForm.get('price_per_day')?.hasError('pattern')">
    Le prix doit être un entier (ex: 75)
  </mat-error>

</form>



