.page {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  caret-color: transparent;
  user-select: none;
  overflow: auto;
}

input:focus, textarea:focus {
caret-color: auto;
}

img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  object-fit: contain;
  pointer-events: none;
}


.logoLeft {
  grid-row: 2/2;
  grid-column: 1/1;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoRight {
  grid-row: 2/2;
  grid-column: 3/3;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 55px;
  text-align: center;
}


.theme {
  grid-row: 1/1;
  grid-column: 3/3;
  z-index: 1; 
  position: relative;
  display: flex;  
}

/* ************************************** *//* ************************************** */



.coolinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}


.coolinput label.text {
  font-size: 0.75rem;
  color: #427c42;  
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

.coolinput input[type=username].input,
.coolinput input[type=password].input,
.coolinput input[type=email].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #427c42 solid;
  border-radius: 5px;
  background: #e8e8e8;
}

.coolinput input[type=text].input:focus,
.coolinput input[type=password].input:focus,
.coolinput input[type=email].input:focus {
  outline: none;
}

/* ************************************** */

label {
  font-size: 20px;
}

#password,
#email {
  margin-top: 10px;
}

.register-container {
  position: relative;
  width: 350px;
  height: 500px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px;
  box-sizing: border-box;
  text-align: center;
  justify-items: center;
  padding: 20px;
  grid-row: 2/2;
  grid-column: 2/2;
    
}

.titre {
  grid-row: 1/1;
  grid-column: 2/2;
  align-content: center;
}

.error-message {

  color: red;
  font-weight: bold;

}

/* button1  */ 
.signIn {
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #cfc7c7;
  color: rgb(65, 63, 63);
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 0;
  padding: 3px;
  background: linear-gradient(90deg,  #6d966d, #3a3a3a);
  border-radius: 0.9em;
  transition: all 0.4s ease;
}

.google-div, #forgot{
  margin: 15px;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -1;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.button:hover::before {
  background: linear-gradient(90deg,  #6d966d, #3a3a3a);
  filter: blur(1.2em);
}
.button:active::before {
  filter: blur(0.2em);
}

/****************** buttongoogle  *****************/  
.google-button, .signIn {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  z-index: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
  
}

.google-button svg {
  height: 24px;
}

.google-button:hover, .signIn:hover {
  transform: scale(1.02);
}

.google-div {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #c92828, #f5f839, #43bb43, #435fbb);
  border-radius: 0.9em;
  z-index: 0;
  transition: all 0.4s ease;
}

.google-div::before, .signIn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -1;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.google-div:hover::before {
  background: linear-gradient(90deg, #c92828, #eff140, #43bb43, #435fbb);
  filter: blur(1.2em);
}
.google-div:active::before {
  filter: blur(0.2em);
}


/******************button error********************/

.info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  background: #509AF8;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  grid-row: 3/3;
  grid-column: 2/2;
  
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__icon path {
  fill: #fff;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: #fff;
}

/**********************************photos*********************************/


.custum-file-upload {
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #505050;
  background-color: #f2f2f2;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px #e8e8e8;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: #e8e8e8;
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: #222222;
}

.custum-file-upload input {
  display: none;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #212121;
  border-radius: 4px;
  border: 0.5px solid #2e86de;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #2e86de;
  box-shadow: 32px -34px 0 5px #0097e6;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0097e6;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0% , 100% {
    bottom: -35px
  }

  25% , 75% {
    bottom: -2px
  }

  20% , 80% {
    bottom: 2px
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg)
  }

  25% , 75% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

.preview-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
  border: 2px solid #818CF8;
}


/***************dark/light theme ********************/

.dark-themeContainer{
  background-color: #222222;
  color: #f2f2f2 ;
  box-shadow: rgba(211, 211, 211, 0.568) 0px 0px 20px;
}

.custum-file-upload.dark-input{
  background-color: #222222;
  color: #f2f2f2 ;
  box-shadow: rgba(211, 211, 211, 0.568) 0px 0px 20px;
}

.custum-file-upload.light-input{
  background-color: #f2f2f2;
  color: #222222 ;
  box-shadow: rgba(54, 54, 54, 0.918) 0px 0px 20px;
}

.custum-file-upload.dark-input .text span {
  font-weight: 400;
  color: #f2f2f2;
}

.loader.light-input{
  background-color: #f2f2f2;
  color: #222222 ;
  box-shadow: rgba(54, 54, 54, 0.918) 0px 0px 20px;
}

.loader.dark-input{
  background-color: #222222;
  color: #f2f2f2 ;
  box-shadow: rgba(211, 211, 211, 0.568) 0px 0px 20px;}

.light-themeContainer{
  background-color: #fff ;
  color: #222222;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px;
}

.coolinput input[type=username].input.dark-input
{
  background-color: #222222;
  color: #f2f2f2 ;
  }

  .coolinput input[type=username].input.light-input
  {
    background-color: #f2f2f2 ;
    color: #222222;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px;
  }

  .coolinput label.text.dark-input{
    background-color: #222222;
  }

  .coolinput label.text.light-input{
    background-color: #e5e5e5 ;
  }  

  .light-theme {
    background-color: #e5e5e5 ;
    color: #000000;
  }
  
  .dark-theme,.dark-button {
    background-color: #222222;
    color: #f2f2f2 ;
  }

  .light-button{
    background-color: #f2f2f2 ;
    color: #222222;
  }

  input, body, .page, .coolinput {
    transition: background-color 0.5s ease, color 0.3s ease, border-color 0.3s ease;
  }

  /* From Uiverse.io by Smit-Prajapati */ 
.radio-container {
  --main-color: #427c42;
  --main-color-opacity: #f7e4791c;

  /* change this according inputs count */
  --total-radio: 3;

  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 0.5rem;
}
.radio-container input {
  cursor: pointer;
  appearance: none;
}
.radio-container .glider-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(27, 27, 27, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 1px;
}
.radio-container .glider-container .glider {
  position: relative;
  height: calc(100% / var(--total-radio));
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    var(--main-color) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: transform 0.5s cubic-bezier(0.37, 1.95, 0.66, 0.56);
}
.radio-container .glider-container .glider::before {
  content: "";
  position: absolute;
  height: 60%;
  width: 300%;
  top: 50%;
  transform: translateY(-50%);
  background: var(--main-color);
  filter: blur(10px);
}
.radio-container .glider-container .glider::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    var(--main-color-opacity) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.radio-container label {
  cursor: pointer;
  padding: 1rem;
  position: relative;
  color: grey;
  transition: all 0.3s ease-in-out;
}

.radio-container input:checked + label {
  color: var(--main-color);
}

.radio-container input:nth-of-type(1):checked ~ .glider-container .glider {
  transform: translateY(0);
}

.radio-container input:nth-of-type(2):checked ~ .glider-container .glider {
  transform: translateY(100%);
}

.radio-container input:nth-of-type(3):checked ~ .glider-container .glider {
  transform: translateY(200%);
}

.radio-container input:nth-of-type(4):checked ~ .glider-container .glider {
  transform: translateY(300%);
}

.radio-container input:nth-of-type(5):checked ~ .glider-container .glider {
  transform: translateY(400%);
}

.radio-container input:nth-of-type(6):checked ~ .glider-container .glider {
  transform: translateY(500%);
}

.radio-container input:nth-of-type(7):checked ~ .glider-container .glider {
  transform: translateY(600%);
}

.radio-container input:nth-of-type(8):checked ~ .glider-container .glider {
  transform: translateY(700%);
}

.radio-container input:nth-of-type(9):checked ~ .glider-container .glider {
  transform: translateY(800%);
}

.radio-container input:nth-of-type(10):checked ~ .glider-container .glider {
  transform: translateY(900%);
}
