<div class="page">
  <div class="header">
    <app-header></app-header>
  </div>


  <div class="message">
    <h3>Bienvenue admin, {{ userName }} !</h3>
  </div>


  <div class="button" id="salles">
    <button class="log-In" (click)="toggleSalles()" >
      <a mat-button routerLink="/salles" routerLinkActive="active-link">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Salles&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
      <img src="gestion.webp" alt="Salles">
    </button> 
  </div>
  <div class="button" id="statistiques" (click)="toggleStatistiques()">
    <button class="log-In" >
      <a mat-button routerLink="/statistiques" routerLinkActive="active-link">
        Statistiques
      </a>
      <img src="statistiques.webp" alt="Salles">
    </button> 
  </div>
</div>