<div class="page">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="message">
    <h1>Mes réservations</h1>
  </div>
  <button class="add-button" type="button" (click)="toggleReserver()">
    +
  </button>

  <div class="reservations-container">
    <div class="reservation-card" *ngFor="let res of paginatedReservations">
        <div class="card-header">
          <span class="price">{{ res.total_price || '250.-' }} CHF</span>
          <span class="date">{{ res.startDate | date: 'EEE, MMM dd' }}</span>
        </div>
        <div class="card-body">
          <h3>{{ res.room?.name }} </h3>
          <p>{{ res.room?.area || '300' }} m²</p>
          <p>{{ res.room?.seated_places || '50' }} assis / {{ res.room?.total_seats || '50' }} total</p>
          <p>Matériel à disposition: {{ res.room?.equipment_description || 'Sans écran ou beamer supplémentaire' }}</p>
          <p>Disposition: {{ res.disposition || 'Rangées' }}</p>
        </div>
        <div class="card-actions">
          <div class="button">
            <button class="moreTransactions" type="button" (click)="ouvrirFormulaireModifier(res.uid)">✏️</button>
          </div>
          <div class="button">
            <button class="moreTransactions " type="button" (click)="supprimerReservation(res.uid)">🗑️</button>
          </div>
        </div>
      </div>
  </div>


  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="pageChange">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
        <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
      </svg>
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span> 
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pageChange">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
        <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
      </svg>
    </button>
  </div>

</div>