<div class="page">
  <div class="header">
    <app-header></app-header>
  </div>

<h2>Statistiques des équipements réservés</h2>

<!-- Filtres : mois et année -->
<div style="margin-bottom: 20px;">
  <label for="month">Mois :</label>
  <select id="month" [(ngModel)]="selectedMonth" (change)="loadChartData()">
    <option *ngFor="let m of months" [value]="m.value">{{ m.name }}</option>
  </select>

  <label for="year">Année :</label>
  <input id="year" type="number" [(ngModel)]="selectedYear" (change)="loadChartData()" min="2020" max="2100">
</div>

<!-- Graphique en camembert -->
<h3>Répartition du matériel demandé (mois sélectionné)</h3>
<canvas baseChart
        [data]="equipmentChartData"
        [type]="pieChartType"
        [options]="pieChartOptions">
</canvas>


<h3>Évolution des réservations par jour (toutes salles)</h3>

<canvas baseChart
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions">
</canvas>
</div>