<header>
  <table>
    <tr>
      <th style="width:7%" id="barra">
        <button [ngClass]="{'hidden': isMenuOpen}"  mat-icon-button (click)="toggleMenu()">
          <mat-icon id="menuTheme">menu</mat-icon>
        </button>
        <div [ngClass]="{'menu-open': isMenuOpen, 'menu-closed': !isMenuOpen}" class="menu">
          <div class="menuTheme">
          <ul>  
            <br>
            <div class="firstline">
              <button mat-icon-button (click)="toggleMenu()">
                <mat-icon id="close">close</mat-icon>
              </button>
              <img src="/Layer 1.png" alt="Logo">
            </div>
            <li><a routerLink="/dashboard">Accueil</a></li>
            <mat-divider></mat-divider>
            <li><a routerLink="/salles">Salles</a></li>
            <mat-divider></mat-divider>

            <button (click)="logout()">
              <mat-icon id="logout">logout</mat-icon>
            </button>
          </ul>
        </div>
      </div>
      </th>
      <td>
        <p class="animated" routerLink="/dashboard">Gestion Des Salles</p>
      </td>
    </tr>
  </table>
</header>