<h2>Nouvelle réservation</h2>

<form (ngSubmit)="creerReservation()" #form="ngForm">
  <!-- Sélection de la salle -->
  <label for="room">Salle</label>
  <select name="room" [(ngModel)]="selectedRoomId" (change)="onRoomChange()" required>
    <option *ngFor="let room of salles" [value]="room.ref.id">{{ room.data.name }}</option>
  </select>

  <!-- Dates -->
  <label for="start_date">Date de début</label>
  <input type="datetime-local" name="start_date" [(ngModel)]="reservation.start_date" required>

  <label for="end_date">Date de fin</label>
  <input type="datetime-local" name="end_date" [(ngModel)]="reservation.end_date" required>

  <!-- Disposition -->
  <label for="disposition">Disposition</label>
  <select name="disposition" [(ngModel)]="reservation.disposition" required>
    <option value="rangées">Rangées</option>
    <option value="tables en U">Tables en U</option>
    <option value="conférence">Conférence</option>
  </select>

  <!-- Équipements -->
  <label>Équipements à louer disponibles</label>
  <div *ngFor="let eq of equipementsDisponibles">
    <input type="checkbox" [value]="eq.ref" (change)="toggleEquipement(eq.ref, $event)">
    {{ eq.data.name }} ({{ eq.data.extra_price }} CHF)
  </div>
  

  <button type="submit" [disabled]="form.invalid">Confirmer</button>
</form>
