.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr 2fr;
    grid-template-columns: 2fr 1fr 2fr;
    place-items: center;
    caret-color: transparent;
    user-select: none;
    overflow: auto;
    transition: background-color 0.5s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .header{
    grid-row: 1/1;
    grid-column: 1/-1;
    align-content: center;
}


.message{
    grid-row: 2/2;
    grid-column: 1/1;
    align-content: center;
    width: 350px;
    height: auto;
}

img {
    width: 75px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    border: 2px solid #333;
}

