.page {
    height: 100%;
    width: 100%;
    background-color: #f5e6f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: relative;
  }
  
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .message {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .add-button {
    position: absolute;
    top: 11%;
    right: 10%;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #555;
  }
  
  .reservations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px 0;
    margin-top: px;
    margin-bottom: 40px;
  }
  
  .reservation-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(36, 167, 53, 0.349);
    text-align: center;
    width: 200px;
    position: relative;
    margin: 20px;
    transition: all 0.4s ease; 
    height: 300px
  }
  
  .reservation-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #6d966d, #3a3a3a);
    border-radius: 8px;
    z-index: -1;
    filter: blur(0);
    transition: filter 0.4s ease;
  }
  
  .reservation-card:hover::before {
    filter: blur(1.2em); 
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .date {
    font-size: 1rem;
    color: #666;
  }
  
  .card-body p {
    margin: 10px 0;
    font-size: 1rem;
  }
  .card-body{
  
    margin-bottom: 40px;}
  
  .card-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    position:absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  
  .edit-icon, .delete-icon {
    font-size: 1rem;
    cursor: pointer;
    color: #333;
  }
  
  .edit-icon:hover, .delete-icon:hover {
    color: #007bff;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 1rem;
    color: #333;
  }
  
  @media (width < 850px) {
    .reservations-container {
      flex-direction: column;
      align-items: center;
    }
  
    .reservation-card {
      width: 80%;
      margin-bottom: 20px;
    }
    .reservations-container {
      margin-top: 0px;
    }
    .add-button {
      position: absolute;
      right: 5%;
    }
  }

  .button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    outline: none;
    top:0;
    z-index: 0;
    padding: 3px;
    background: linear-gradient(90deg, #6d966d, #3a3a3a);
    border-radius: 0.9em;
    transition: all 0.4s ease;
    margin-top: 20px;
  }
  
  .button::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -1;
    filter: blur(0);
    transition: filter 0.4s ease;
  }
  
  .button:hover::before {
    background: linear-gradient(90deg, #6d966d, #3a3a3a);
    filter: blur(1.2em);
  }
  
  .button:active::before {
    filter: blur(0.2em);
  }
  
  .moreTransactions {
    position: relative;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all 0.6s ease;
    z-index: 1;
    align-self: center;
  }
  
  .moreTransactions:hover {
    transform: scale(1.02);
  }
  