/* ========== Structure principale de la page ========== */
.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.25fr 2.5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    caret-color: transparent;
    user-select: none;
    overflow: auto;
    transition: background-color 0.5s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .header {
    grid-row: 1/1;
    grid-column: 1/-1;
    align-content: center;
    justify-content: start;
    z-index: 1000;
  }
  
  .historiqueListe {
    grid-row: 2/2;
    grid-column: 1/-1;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 100px;
  }

  
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1000px;
    max-width: 1000px;
    min-height: 535px;
    max-height: 535px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
  
  /* ========== Boutons (Ajouter, Modifier, Supprimer) ========== */
  .button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    outline: none;
    top:0;
    z-index: 0;
    padding: 3px;
    background: linear-gradient(90deg, #6d966d, #3a3a3a);
    border-radius: 0.9em;
    transition: all 0.4s ease;
    margin-top: 20px;
  }

  #salle{
    margin-left:50px;
    position:absolute;
    top:6%
    }
  
  .button::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -1;
    filter: blur(0);
    transition: filter 0.4s ease;
  }
  
  .button:hover::before {
    background: linear-gradient(90deg, #6d966d, #3a3a3a);
    filter: blur(1.2em);
  }
  
  .button:active::before {
    filter: blur(0.2em);
  }
  
  .moreTransactions {
    position: relative;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all 0.6s ease;
    z-index: 1;
  }
  
  .moreTransactions:hover {
    transform: scale(1.02);
  }
  
  /* ========== Tableaux ========== */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    text-align: center;
    padding: 2px;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* ========== Pagination ========== */
  .pagination {
    width: 73px;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    left:0;
    margin-left:80px;
  }
  
  .pageChange {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .pageChange:disabled {
    cursor: auto;
  }
  
  svg {
    fill: rgb(50, 157, 207);
    cursor: pointer;
  }
  